*{
    margin: 0;
    padding: 0;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
     background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
     background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;*{
    margin: 0;
    padding: 0;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
     background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
     background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);*{
    margin: 0;
    padding: 0;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
     background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
     background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
.roxo{
    width: 6.25%;
    height: 100%;
    background-color: rgb(159, 43, 226);
}
.azul{
    width: 6.25%;
    height: 100%;
    background-color: rgb(65, 81, 226);
}
.rosa{
    width: 6.25%;
    height: 100%;
    background-color: rgb(196, 55, 184);
}

.linha {
     width: 100%;
     height: 10%;
     display: flex;
}
